.register__hero {
   width: 100%;
   height: 55rem;
   background-color: #090909;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: -8rem;
}


.register__form {
   display: flex;
   position: absolute;
   flex-direction: column;
   margin-top: 82rem;
   width: 43.1rem;
   background: #141414;
   padding: 2rem 3.6rem;
   align-items: center;
   .register__divider {
      margin: 2rem 0;
      // margin: 2.4rem 0;
      width: 25.2rem;
      height: .1rem;
      background-color: #222222;
      border: none;
   }
   .primary_button {
      margin-top: 1rem;
   }
}


.register__content {
   text-align: center;
   h2 {
      font-size: 4.5rem;
      // font-size: 3.5rem;
      font-weight: 700;
   }
   p {
      font-size: 1.8rem;
      color: #A8A8A8;
      margin-top: -0.9rem;
   }
}