.container {
  position: relative;

  /* Black / 100 */

  background: #0d0d0d;

  .main {
    p,
    h1,
    h2,
    h3 {
      color: gray;
      padding: 0;
      margin: 0;
    }
  }
}

.header {
}

.backToHome {
  margin: 3rem 0 0;
}

.main {
  padding: 20px;
}
