.tabs {
  &__item {
    padding: 20px;
  }
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__inner {
  }
}

.main {
  width: 100%;
}
.tab-nav {
  display: flex;
  flex-direction: row;
  align-content: flex-start;

  border-width: 5px;
  border-color: white;
  flex: 1 1 100%;
  grid-column: tabnav;
  &__sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > *:nth-child(1) {
      flex: 1 1 auto;
    }
    > *:nth-child(2) {
      flex: 1 1 auto;
    }
    &--wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      > *:nth-child(1) {
        flex: 1 1 50%;
      }
    }
  }
  &__tab {
    padding: 20px;
  }
  &__artwork-container {
    width: 100%;
    flex: 1 1 100px;
    min-width: 100px;
  }
  &__sort-dropdown {
    flex: 1 1 50%;
  }
  &__sort-option {
    width: 70px;
    height: 23.5px;
    font-family: Karla;
    font-size: 20px;
  }
}

.tab {
  padding: 20px;
  &__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &--inner {
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  &__container {
    width: 100%;
    flex: 1 1 100px;
  }
  &__sort-dropdown {
    right: 50 px;
  }
  &__sort-option {
    width: 70px;
    height: 23.5px;
    font-family: Karla;
    font-size: 20px;
  }
}

.artworks {
  .artworks__container {
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    display: grid;
  }
  &__artwork {
    padding: 2rem;
    &_data {
      &--image {
      }
      &--image-container {
      }
      &--content {
        display: flex;
        justify-content: space-between;
        h3 {
          font-weight: 700;
        }
        p {
          font-weight: 300;
          color: #969696;
        }
      }
    }
  }
}
