.user-profile {
  &__cover {
    width: 100%;
    margin-top: 5.4rem;
    > div {
      position: unset !important;
    }

    &--image {
      object-fit: fill;
      width: 100% !important;
      position: relative !important;
      height: 32rem !important;
    }
  }
}

.user-profile-details {
  display: flex;
  align-items: center;
  margin-top: -16rem;
  position: absolute;

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(
      -55deg,
      #f1d7e0 0%,
      #e0432e 42%,
      #e5e0f2 100%
    );
    background: -o-linear-gradient(
      -55deg,
      #f1d7e0 0%,
      #e0432e 42%,
      #e5e0f2 100%
    );
    background: -moz-linear-gradient(
      -55deg,
      #f1d7e0 0%,
      #e0432e 42%,
      #e5e0f2 100%
    );
    padding: 0.5rem;
    border-radius: 50%;
    background: linear-gradient(-55deg, #f1d7e0 0%, #e0432e 42%, #e5e0f2 100%);
    img {
      border-radius: 50% !important;
    }
  }
  &__content {
    display: flex;
    margin-left: 3rem;
    &--name-status {
      font-size: 3.7rem;
      font-weight: 700;
      height: 5.3rem;
      display: flex;
    }
    &--username {
      font-size: 2.3rem;
      color: #b4b4b4;
    }
    &-status {
      margin: 2rem 1.7rem 0;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-image: linear-gradient(
        270deg,
        rgba(224, 67, 46, 0.77) 0%,
        #f1d7e0 22%,
        #e5e0f2 100%
      );
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 1.6rem;
      }
    }
  }
}
