.user-profile {
  &__cover {
    width: 100%;
    margin-top: 5.4rem;
    > div {
      position: unset !important;
    }

    &--image {
      object-fit: fill;
      width: 100% !important;
      position: relative !important;
      height: 32rem !important;
    }
  }
}

.user-profile-content {
  display: flex;
  // grid-template-columns: repeat(auto-fit, minmax(48rem, 1fr));
  justify-content: space-between;
  flex-wrap: wrap;
  &__sidebar {
    flex: 25%;
    // margin-right: 10rem;
    padding: 3.7rem 3rem 0 0px;
    &-section {
      margin-bottom: 9.4rem;
      &__socials {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        a {
          &:hover {
            opacity: 0.4;
          }
        }
        svg {
          width: 3rem;
          height: 3rem;
          fill: #fff;
        }
      }
    }
  }
  &__artworks {
    flex: 74% 1;
  }
}

.user-profile-content__artworks {
  flex: 74% 1;
}
.artworks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 768px) {
    margin-top: 20rem;
  }
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    display: grid;
    align-items: center;
    gap: 1rem;
  }
  &__item {
    margin: 5px;
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
}
