.alert {
  position: relative;
  padding: 2.5rem 2.5rem;
  margin-bottom: 1rem;
  border: 0 solid transparent;
  font-size: 1.8rem;
}

.alert-warning {
  color: $color-black;
  background-color: #dec269;
  border-color: #dec269;
}

.alert-info {
  color: #d1ecf1;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.alert-primary {
  color: #d5daff;
  background-color: #2b44ff;
  border-color: #2b44ff;
}

.alert-secondary {
  color: #dddddd;
  background-color: #555555;
  border-color: #555555;
}

.alert-success {
  color: #d6e2df;
  background-color: #63d898;
  border-color: #63d898;
}

.alert-danger {
  color: #fbd8d4;
  background-color: #eb3c27;
  border-color: #eb3c27;
}

.alert-light {
  color: #fcfcfc;
  background-color: #eeeeee;
  border-color: #eeeeee;
}
