.select {
  padding: 1rem 2rem;
  background: #090909;
  color: #fff;
  font-size: 1.4rem;
  border: 2px solid #2b2b2b;
  outline: none;
  position: relative;
  width: 100%;
}

// Drop files input
.drag_over {
  opacity: 0.6;
}
