.tab-nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-width: 5px;
  border-color: white;

  margin-bottom: 3rem;

  &__container {
    margin: 2rem 2rem 2rem 1rem;
    border-bottom: 1px solid #202020;
    padding-bottom: 2rem;
    border-right: 3rem;
  }

  &__indicators {
    &--element {
      padding: 2rem;
      cursor: pointer;
    }
    @media screen and (max-width: 768px) {
      &--element {
        &:not(:last-child) {
          padding: 1rem 4rem 0rem 1rem;
          margin: 0 1rem 0 0;
        }
      }
      margin-bottom: 2rem;
    }
  }
  &__dropdown {
    margin-right: 0;
    @media screen and (max-width: 768px) {
      flex: 1;
      .select {
        width: 100%;
      }
    }
  }
}
