.hero {
  width: 100%;
  height: 85rem;
  background-color: #090909;
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48rem, 1fr));
    justify-content: center;
    align-items: center;
  }
  &__hashtune-artwork {
    margin: 15rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &--image {
      position: relative !important;
    }
    &--play-button {
      position: absolute !important;
      cursor: pointer;
    }
  }
  &__hashtune-details {
    margin-left: 4rem;
    &--user-details {
      display: flex;
      padding: 2rem;
      background-color: #040404;
      height: 5.3;
      width: 15.3rem;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
      img {
        border-radius: 50%;
      }
      a {
        margin-left: 0.6rem;
      }
    }
    &--title {
      font-size: 4.5rem;
      font-weight: 700;
      margin-top: 1rem;
    }
    &--description {
      font-size: 1.7rem;
      color: #c2c2c2;
      width: 85%;
      margin-bottom: 2rem;
    }
    &--auction-info {
    }
  }
  &__hashtune-auction-details {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
