body {
  font-family: $font-family, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-white;
  font-size: $default-font-size;
}

.heading-primary {
  font-size: 8.4rem;
  font-weight: 700;
  line-height: 8rem;
  margin: 0 0 1rem 0;
}

.heading-secondary {
  font-size: 5.7rem;
  font-weight: 500;
  transition: all 0.2s;
  line-height: 6.4rem;
}

.heading-tertiary {
  font-size: 3.6rem;
  font-weight: 400;

  transition: all 0.2s;
  line-height: 5.2rem;
  line-height: 1.2;
}

.section-title {
  font-size: 2rem;
}

.text-muted {
  color: rgba(255, 255, 255, 0.5) !important;
}

// inverted
.text-white {
  .text-secondary {
    color: rgba($color-white, 0.8) !important;
  }

  a:not(.btn) {
    color: inherit;
  }

  hr {
    background: rgba($color-white, 0.2);
  }

  .text-muted {
    color: rgba($color-white, 0.5) !important;
  }

  .divider {
    &::after {
      background: rgba($color-white, 0.5);
    }
  }
}

.lead {
  font-size: 2rem;
  font-weight: 400;
}

.text-secondary {
  color: rgba(255, 255, 255, 0.8) !important;
}

.eyebrow {
  display: inline-block;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

// .heading-tertiary {
//     font-size: $default-font-size;
//     font-weight: 700;
//     text-transform: uppercase;
// }

// .paragraph {
//     font-size: $default-font-size;

//     &:not(:last-child) {
//         margin-bottom: 3rem;
//     }
// }
