.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Top Margin
.mt-small {
  margin-top: 1.6rem !important;
}
.mt-medium {
  margin-top: 4rem !important;
}
.mt-big {
  margin-top: 8rem !important;
}
.mt-huge {
  margin-top: 10rem !important;
}
.mt-huge {
  margin-top: 36rem !important;
}

// Bottom Margin
.mb-small {
  margin-bottom: 1.5rem !important;
}
.mb-medium {
  margin-bottom: 4rem !important;
}
.mb-big {
  margin-bottom: 8rem !important;
}
.mb-huge {
  margin-bottom: 10rem !important;
}
.mb-x-huge {
  margin-bottom: 36rem !important;
}

.container {
  // max-width: 144.4rem;
  max-width: 192.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 90%;
  margin: 0 auto;
}

section {
  margin: 25rem 0;
  &__title {
    font-size: 4.8rem;
    line-height: 1;
    color: inherit;
  }
  @media (min-width: 320px) and (max-width: 600px) {
    margin: 12rem 0;
  }
}

.vertical_divider {
  background-color: #222222;
  width: 0.3rem;
  height: 7rem;
  margin: 3rem;
}
