.mainSidebar {
  /* Auto Layout */
  display: flex;
  align-items: center;
}
.sidebar {
  /* Auto Layout */

  background: #000000;

  /* Inside Auto Layout */
}

.navbar {
  /* _prototype / molecule / sidebar */

  /* Auto Layout */
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  /* Inside Auto Layout */

  ul {
    li {
      &:hover {
        /* Black / 50 */

        background: #222222;
        border-radius: 999px;
      }
      /* Auto Layout */

      position: static;

      left: 0px;

      /* Inside Auto Layout */
    }
  }
}
