.mainSidebar {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 264px;
  height: 4278px;
  left: 0px;
  top: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.sidebar {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 32px;

  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #000000;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 10px;
}

.navbar {
  /* _prototype / molecule / sidebar */

  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 200px;
  height: 5264px;
  left: 32px;
  top: 32px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 10px;
  ul {
    li {
      &:hover {
        /* Black / 50 */

        background: #222222;
        border-radius: 999px;
      }
      /* Auto Layout */
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;

      position: static;
      width: 200px;
      height: 40px;
      left: 0px;
      top: 52px;

      /* Inside Auto Layout */

      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }
  }
}
