html,
body {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  li {
    color: white;
  }
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
