// .header {
//   nav {
//     margin-top: 4rem;
//     position: absolute;
//     z-index: 1;
//   }
// }

.header__navbar-logo {
  position: absolute;
  width: 35px;
  &--img {
    max-width: 30rem !important;
    position: relative;
    object-fit: cover;
  }
}
